/* Fondo opaco al abrir el "modal" */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro opaco */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1040;
  padding: 20px;
}

.modal-style-container {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 850px;
  width: 100%;
}

form label {
  font-weight: 500;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
